<h2>Все ключевые слова</h2>
<div class="col-6">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ключевое слово</th>
      <th scope="col">Последнее обновление</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let keyword of keywords; index as j">
      <td>{{(page - 1) * pageSize + (j+1)}}</td>
      <td ><a href="/keyword/{{keyword.keyword}}">{{keyword.keyword}}</a></td>
      <td>{{keyword.updatedTs | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>
        <i class="close fa fa-refresh" aria-label="Refresh" title="Обновить" data-toggle="tooltip"
                data-placement="right" ngbTooltip="Обновить"
                (click)="updateKeyword(keyword)"></i>
      </td>
      <td>
        <i class="close fa fa-trash" aria-label="Delete" title="Удалить" data-toggle="tooltip"
                data-placement="right" ngbTooltip="Удалить"
                (click)="deleteKeyword(keyword, content)">
        </i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-6">
  <div class="input-group mb-3">
    <input #newKeyword (keyup.enter)="findKeyword(newKeyword.value)"
           type="text" class="form-control" placeholder="Ключевое слово" aria-label="new keyword"
           aria-describedby="button-addon2" id="add-keyword-input">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="add-keyword" (click)="addKeyword(newKeyword.value)">
        <i class="fa fa-plus"></i>
      </button>
      <button class="btn btn-outline-secondary" type="button" id="search-keyword"
              (click)="findKeyword(newKeyword.value)">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 mx-auto">
      <ngb-pagination [collectionSize]=collectionSize
                      [pageSize]=pageSize
                      [page]=page aria-label="Default pagination"
                      [maxSize]="10"
                      (pageChange)=changePage($event)></ngb-pagination>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Подтвердить удаление</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>Ключевое слово <strong>{{keywordToDelete}}</strong> и связанные с ним документы будут удалены!</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Подтвердить</button>
  </div>
</ng-template>
<app-messages></app-messages>
