<h2>Все ключевые слова</h2>
<div class="col-6">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ключевое слово</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let keyword of keywords; index as j">
      <td>{{j+1}}</td>
      <td ><a href="/keyword/{{keyword.keyword}}">{{keyword.keyword}}</a></td>
      <td>
        <i class="fa fa-refresh" aria-label="Delete" title="Обновить" data-toggle="tooltip"
                data-placement="right"></i>
      </td>
      <td>
        <i class="close fa fa-trash" aria-label="Delete" title="Удалить" data-toggle="tooltip"
                data-placement="right"
                (click)="deleteKeyword(keyword)">
        </i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-6">
  <div class="input-group mb-3">
    <input #newKeyword (keyup.enter)="addKeyword(newKeyword.value)"
           type="text" class="form-control" placeholder="Ключевое слово" aria-label="new keyword"
           aria-describedby="button-addon2" id="add-keyword-input">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="add-keyword" (click)="addKeyword(newKeyword.value)">
        <i class="fa fa-plus"></i>
      </button>
      <button class="btn btn-outline-secondary" type="button" id="search-keyword"
              (click)="addKeyword(newKeyword.value)">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>
