<h3>Последние обновления</h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Ключевое слово</th>
    <th scope="col">Документы</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dashboardEntry of entries; index as i">
    <th scope="row">{{i+1}}</th>
    <td><a href="/keyword/{{dashboardEntry.keyword}}">{{dashboardEntry.keyword}}</a></td>
    <td>
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ссылка на документ</th>
          <th scope="col">Тип решения</th>
          <th scope="col">Суд</th>
          <th scope="col">Судья</th>
          <th scope="col">Дата обработки</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let doc of dashboardEntry.getDocuments(); index as j">
          <td>{{j+1}}</td>
          <td><a href="{{doc.fullUrl}}" target="_blank">{{doc.id}}</a></td>
          <td>{{doc.judgementForm}}</td>
          <td>{{doc.court}}</td>
          <td>{{doc.judge}}</td>
          <td>{{doc.createdTs | date:'d/M/y, HH:MM'}}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
